<!-- login.html -->
{% include 'nav.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='nav.css') }}"></head>
<body>
    
    <br>
    <div class="login-container">
        
        <h1>Login</h1>
        <br>
        <form action="{{ url_for('login') }}" method="POST">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
            <br>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}" style="color: red;">{{ message }}</div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <p>Don't have an account? <a href="{{ url_for('signup') }}">Sign Up</a></p>
        </form>
    </div>
</body>
</html>
