<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
    <style>
          a {
    text-decoration: none;
  }
  .hide {
  display: none;
}

.myDIV:hover + .hide {
  display: block;
  color: red;
}

    </style>
</head>
<body>
    <div class="navbar">
        <div class="nav-links">
            <a  href="{{ url_for('index') }}">TaskMaster</a>
        </div>
        <div class="nav-links">
            
            
            <a href="{{ url_for('manage_task') }}"> Tasks</a>
            
            <a href="{{ url_for('index') }}#aboutt">About Us</a>
            <a href="{{ url_for('index') }}#contactt">Contact Us</a>
            
        </div>
        <div class="nav-links">
            {% if user_id is none %}
            <a href="{{ url_for('login') }}" class="white-link">Login</a>
            {% endif %}
            {% if user_id is not none %}
            <a  title = "Click here to Logout" href="{{ url_for('logout') }}" class="white-link">Hi, {{username}}</a>
            

            {% endif %}
            {% if user_id is none %}
            <a href="{{ url_for('signup') }}" class="white-link">Sign Up</a>
            {% endif %}
        </div>
    </div>
</body>
</html>
